<ion-header class="ion-no-border">
  <ion-toolbar class="" color="primary">
    <ion-buttons slot="start">
      <ion-back-button  size="large" color="dark" name="menu-outline"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
       {{pageName}}
    </ion-title>
    <ion-thumbnail class="ion-margin" slot="end">
      <img src="/assets/img/bilancia.png">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scrollX=false  color="primary">

  <div class="container" >

    <ion-list *ngIf="listaRicette.length > 0" class="ricette-list">
        <ion-item *ngFor="let ricetta of listaRicette" class="ion-no-padding ion-no-margin ion-margin-bottom"  lines="none">
          <div (click)="selezionaRicetta(ricetta)" class="nome">{{ricetta.nomeRicetta}}</div>
          <ion-button slot="end" color="light" class="ion-no-margin" (click)="chiediRiproporzionaRicetta(ricetta)">
            <ion-icon name="copy-outline"></ion-icon>
          </ion-button>
          <ion-button slot="end" color="light" class="ion-no-margin" (click)="chiediCancellazioneRicetta(ricetta)">
              <ion-icon name="close-outline"></ion-icon>
          </ion-button>
      </ion-item>
        
    </ion-list>
    <ion-item class="ion-no-padding" *ngIf="listaRicette.length == 0">
      <div>Non ci sono ricette salvate</div>
    </ion-item>
  </div>

</ion-content>