.container {
    padding: 15px;
}

.ricette-list {
    ion-item {
        --background: var(--ion-color-primary);
        --border-radius: 8px; 
    }
    .nome {
        width: 100%;
        padding-left: 15px;
    }
    button {
        --border-radius: 25px;
    }
}