
.container {
    overflow: auto;
    height: 100%;
    background: white;
    border-radius: 8px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.15)
}


ion-thumbnail {
  --border-radius: 10px;	
}
