

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-icon class="ion-margin" size="large" color="dark" name="menu-outline"></ion-icon>
    </ion-buttons> -->
    <ion-title color="dark">
       {{pageName}}
    </ion-title>
    <ion-thumbnail class="ion-margin" slot="end">
      <img src="/assets/img/bilancia.png">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="" scrollX=false fullscreen>

<ion-list  class="ion-text-center ion-no-border main-menu" >
    <ion-item routerLink="/nuova-ricetta"  color="dark" padding>
        NUOVO
    </ion-item>
    <ion-item routerLink="/elenco-ricette" color="dark" padding>
        ELENCO
    </ion-item>
    <ion-item routerLink="/info" color="dark" padding>
        INFO
    </ion-item>
</ion-list>
<!--<div class="ion-text-center">
    <ion-chip routerLink="/nuova-ricetta"  class="white">
        <ion-label>Nuova</ion-label>
    </ion-chip>
    <ion-chip  routerLink="/elenco-ricette" class="white">
        <ion-label>Elenco</ion-label>
    </ion-chip>
    <ion-chip routerLink="/info" class="white">
        <ion-label>Info</ion-label>
    </ion-chip>
</div>-->


</ion-content>