ion-content {
    --overflow: hidden;
    --background: var(--ion-color-primary);
}

.container {
    overflow: auto;
    height: 100%;
    background: white;
    border-radius: 8px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.15)
}

ion-header {
    background: var(--ion-color-primary);
}

.first-ing {
    outline-color: var(--ion-color-dark);
}

.ingrediente:first-of-type  {
    p {
        color: var(--ion-color-dark);
    }
}

.ingrediente {
    border-bottom: solid 1px #ccc;
    p {
     color: #999;
    }
}

ion-footer {
    background-color: var(--ion-color-primary);
    .details {
       
        padding: 0 15px 15px 15px;
    }

    p.price {
        color: var(--ion-color-primary);
        font-size: 16px;
        font-weight: bold;
    }

    p.title {
        color: white;
        font-size: 13px;
    }

    p.before {
        text-decoration: line-through;
    }
}

ion-chip.yellow {
    --background: var(--ion-color-primary);
    color: black;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    font-size: 17px;
}

ion-chip.black {
    --background: #000000;
    color: #ffffff;
    font-weight: normal;
    padding: 20px 20px 20px 20px;
}

ion-chip.white {
    --background: #ffffff;
    color: black;
    font-weight: normal;
    padding: 20px 20px 20px 20px;
}

ion-thumbnail {
    --border-radius: 10px;
}
